.home img{
    float: right;
    position: relative;
    
}
.home{
    width: 500px;
    height: 200px;
    position: relative;
}
.home p{
    padding-top: auto;
    position: relative;
}
.home h3{
    padding-bottom: 2rem;
    position: relative;
}